<div class="container">
    <br> <br>
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h2>Search Movie by Genre</h2>
                </div>
                <form #searchForm="ngForm" (submit)='search(searchForm)'>
                    <div class="card-body">
                        <select name="movieGenre" #movGenre="ngModel" [(ngModel)]="movieGenre" class="
                                form-control" required>
                            <option value=null>--Select Genre--</option>
                            <option value="Drama">Drama</option>
                            <option value="Fiction">Fiction</option>
                            <option value="Satire">Satire</option>
                        </select>
                        <span *ngIf='!movGenre.valid && movGenre.touched'>
                            <p style="color: red;">
                                Please select an option.
                            </p>
                        </span>
                    </div>
                    <div class="card-footer">
                        <input [disabled]='!searchForm.valid' type="submit" value="Search" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="row" *ngIf='searched'>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <th><i class="fa fa-film"></i> Movie Name</th>
                <th><i class="fa fa-star"></i> Movie Rating</th>
                <th><i class="fa fa-tag"></i> Movie Genre</th>
            </thead>
            <tbody>
                <tr *ngFor='let movie of movies'>
                    <td> {{movie.movieName}} </td>
                    <td> {{movie.movieRating}} </td>
                    <td> {{movie.movieGenre}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>