<div class="container">
    <br>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <th><i class="fa fa-film"></i> Movie Name</th>
            <th><i class="fa fa-star"></i> Movie Rating</th>
            <th><i class="fa fa-tag"></i> Movie Genre</th>
        </thead>
        <tbody>
            <tr *ngFor='let movie of movies'>
                <td> {{movie.movieName}} </td>
                <td> {{movie.movieRating}} </td>
                <td> {{movie.movieGenre}} </td>
            </tr>
        </tbody>
    </table>
</div>