<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><i class="fa fa-film"></i> Movie App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class={{viewClass}} (click)='toggleView()' routerLink=""><i class="fa fa-list-alt"></i> View Movies </a>
      <a class={{addClass}} (click)='toggleAdd()' routerLink="/add"><i class="fa fa-plus"></i> Add Movie </a>
      <a class={{searchClass}} (click)='toggleSearch()' routerLink="/search"><i class="fa fa-search"></i> Search by Genre</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>