<div class="container">
    <div class="row" style="padding-top: 2rem;">
        <div class="col-md-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h2>Add Movie</h2>
                </div>
                <form #addForm="ngForm" (submit)='addMovie(addForm)'>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="text" name="movieName" placeholder="Movie Name..." #movName="ngModel"
                                [(ngModel)]="movieName" class="
                                form-control" required />
                            <span *ngIf='!movName.valid && movName.touched'>
                                <p style="color: red">Enter movie name.</p>
                            </span>
                        </div>
                        <div class="form-group">
                            <input type="text" name="movieRating" placeholder="Movie Rating" #movRating="ngModel"
                                [(ngModel)]="movieRating" class="
                                form-control" required />
                            <span *ngIf='!movRating.valid && movRating.touched'>
                                <p style="color: red">Enter movie rating.</p>
                            </span>
                        </div>
                        <div class="form-group">
                            <select name="movieGenre" #movGenre="ngModel" [(ngModel)]="movieGenre" class="
                                form-control" required>
                                <option value=null>--Select Genre--</option>
                                <option value="Drama">Drama</option>
                                <option value="Fiction">Fiction</option>
                                <option value="Satire">Satire</option>
                            </select>
                            <span *ngIf='!movGenre.valid && movGenre.touched'>
                                <p style="color: red">Enter movie genre.</p>
                            </span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input [disabled]='!addForm.valid' type="submit" class="btn btn-primary" value="Add">
                    </div>
                </form>
            </div>
            <div class="alert alert-success alert-dismissible" *ngIf='response != null' style="cursor: pointer;">
                <a class="close" data-dismiss="alert" aria-label="close"
                    (click)="addForm.reset(); response = null">&times;</a>
                <strong>Success!</strong> Movie added successfully.
            </div>
        </div>
    </div>
</div>